<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	internalLogLevel="warn"
	internalLogFile="logs/EFCoreApi.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="layout" value="${longdate} ${level} ${aspnet-user-identity} ${callsite} ${message} ${onexception:${exception:format=shortType,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />

	<targets>
		<target name="Console" xsi:type="Console" layout="${layout}" />
		<!--
		<target name="File" xsi:type="File" fileName="logs/cordis.api.template_${shortdate}.log"
			layout="${layout}" encoding="utf-8" archiveEvery="Day" maxArchiveFiles="30" />
		-->
	</targets>
	<rules>
		<!-- rules to map from logger name to target -->
		<!-- Уровни определяются в appsettings.*.json. -->
		<logger name="*" writeTo="Console" final="true" />
	</rules>
</nlog>